<nav
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
  style="min-height: 100vh"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Autores/ManutAutores">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Livros/ManutLivros">Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/LivroAutor/ManutLivroAutor">Livro x Autor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Emprestimos/ManutEmprestimos">Empréstimos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Login">Login</a>
      </li>
    </ul>
  </div>
</nav>
